<app-card [headerTitle]="'Animations'" [headerClass]="'mb-0'" [header]="'pb-0'" [border]="true" [padding]="false" [cardBodyClass]="'animation-placeholder'">
    
    <p class="f-m-light mt-1" header5>Animate placeholders with <code>placeholder-glow </code>or <code>placeholder-wave</code> to better convey the perception of something being actively loaded.</p>

    <p class="placeholder-glow grid grid-cols-12"><span class="placeholder placeholder-light col-span-12 !mb-4"></span></p>
    <p class="placeholder-wave grid grid-cols-12"><span class="placeholder placeholder-light col-span-12"></span></p>
    
</app-card>