<div class="container main-input-group input-group-box">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-6 md:col-span-12">
            <app-button-addons></app-button-addons>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-custom-forms></app-custom-forms>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-custom-file-input></app-custom-file-input>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-button-dropdown></app-button-dropdown>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-segment-button></app-segment-button>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-checkbox-and-radio></app-checkbox-and-radio>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-sizing></app-sizing>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-multiple-input></app-multiple-input>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-basic-input-group></app-basic-input-group>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-variation-addons></app-variation-addons>
        </div>
    </div>
</div>