<app-card [headerTitle]="'Profit By Country'" [padding]="false" [cardClass]="'country-option'" [cardBodyClass]="'pt-0'" [dropdownType]="'simple'" [options]="cardToggleOption">
  <div class="grid grid-cols-12 card-gap"> 
    <div class="col-span-8 xxl:col-span-12 lg:col-span-8 sm:col-span-12 c-xl-60 box-col-12">
      <div class="profitable-country-chart">
        <div id="profitable-country-chart">
            <apx-chart
                [series]="profitByCountry.series"
                [chart]="profitByCountry.chart"
                [grid]="profitByCountry.grid"
                [plotOptions]="profitByCountry.plotOptions"
                [annotations]="profitByCountry.annotations"
                [xaxis]="profitByCountry.xaxis"
                [dataLabels]="profitByCountry.dataLabels"
                [legend]="profitByCountry.legend"
                [yaxis]="profitByCountry.yaxis"
                [colors]="profitByCountry.colors"
                [fill]="profitByCountry.fill"
                [responsive]="profitByCountry.responsive">
            </apx-chart>
        </div>
      </div>
    </div>
    <div class="col-span-4 xxl:col-span-12 lg:col-span-4 sm:col-span-12 c-xl-40 box-col-12">
      <ul>
        @for(details of profitByCountry.details; track details){
          <li> 
            <span class="bg-{{ details.class}}"></span>
            {{ details.name }}
          </li>
        }
      </ul>
    </div>
    </div>
</app-card>