<div class="header-wrapper grid grid-cols-12 m-0">

    <form class="form-inline search-full" [class.open]="layoutService.isSearchOpen">
        <app-search></app-search>
    </form>

    <div class="header-logo-wrapper hidden col-auto p-0 lg:block">
        <app-header-logo [icon]="'align-center'" [type]="'header'" [logoIn]="logoIn1" [logoDark]="logoDark1"></app-header-logo>
    </div>

    <!-- Rappel : les breakpoints Tailwind du projet sont en max-width, donc la
         classe sans préfixe vise les écrans LES PLUS LARGES (> 1399px). Elle
         était à col-span-2 : deux colonnes sur douze pour loger le slogan, qui
         se faisait couper en plein mot, pendant que .nav-right en occupait dix
         pour quatre icônes collées à droite. On rééquilibre 6/6 ; les variantes
         xxl/xl/lg/md ci-dessous restent inchangées. -->
    <div class="left-header col-span-6 xxl:col-span-6 xl:col-span-5 lg:col-span-4 md:col-span-3" style="display: flex; align-items: center; gap: 16px;">

        <div (click)="toggleSidebar()" style="cursor: pointer;">
            <app-feather-icon *ngIf="isIcon === 'menu'"
                              icon="menu"
                              class="toggleMenu status_toggle middle sidebar-toggle">
            </app-feather-icon>
            <app-feather-icon *ngIf="isIcon === 'x'"
                              icon="x"
                              class="toggleMenu status_toggle middle sidebar-toggle">
            </app-feather-icon>
        </div>

        <div class="block lg:hidden">
            <app-header-notice></app-header-notice>
        </div>

        <ng-content select="[icon]"></ng-content>

    </div>

    <div class="nav-right col-span-6 xxl:col-span-6 xl:col-span-7 lg:col-span-8 md:col-span-9 float-right right-header p-0 ms-auto">
        <ul class="nav-menus">
            
<!--            <li class="language-nav" (click)="toggleLanguage()" (clickOutside)="clickOutside()">-->
<!--                <app-header-language></app-header-language>-->
<!--            </li>-->

            <li class="fullscreen-body">
                <span>
                    <app-toggle-screen></app-toggle-screen>
                </span>
            </li>

<!--            <li>-->
<!--                <span class="header-search">-->
<!--                    <app-svg-icon [icon]="'search'" (click)="openSearch()"></app-svg-icon>-->
<!--                </span>-->
<!--            </li>-->

<!--            <li class="onhover-dropdown">-->
<!--                <app-header-bookmark></app-header-bookmark>-->
<!--            </li> -->

            <li>
                <app-mode></app-mode>
            </li>

<!--            <li class="cart-nav onhover-dropdown">-->
<!--                <app-header-cart></app-header-cart>-->
<!--            </li>-->

            <li class="onhover-dropdown">
                <app-header-notification></app-header-notification>
            </li>

            <li class="profile-nav onhover-dropdown pe-0 py-0">
                <app-profile></app-profile>
            </li>

        </ul>
    </div>
</div>