<div class="bg-navbar tabs">
    <ul class="tab-links flex nav-primary">
        <li class="tab-link" [class.active]="activeTab == 'role'" (click)="handleTab('role')">RÔLE</li>
        <li class="tab-link" [class.active]="activeTab == 'compte'" (click)="handleTab('compte')">COMPTE</li>
    </ul>
    <div class="container user-list-wrapper">
        <div class="grid grid-cols-12">
            <div class="col-span-12  mt-5 ">
                @if(activeTab == 'role') {
                <app-role></app-role>
                }@else if(activeTab == 'compte') {
                <app-compte></app-compte>
                }
            </div>
        </div>
    </div>
</div>
