<div class="container">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-6 lg:col-span-12">
            <app-default-range-slider></app-default-range-slider>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-min-max-value></app-min-max-value>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-negative-value></app-negative-value>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-steps-range-slider></app-steps-range-slider>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-custom-value></app-custom-value>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-prettify-number></app-prettify-number>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-disabled-slider></app-disabled-slider>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-core-ui></app-core-ui>
        </div>
    </div>
</div>