<div class="flex profile-media items-center">
    <img class="rounded-full w-[35px] h-[35px] shrink-0 object-cover"
         [src]="photo"
         (error)="surErreurPhoto()"
         alt="Photo de profil">
    <div class="grow w-[calc(100%_-_250px)]">
        <span style="font-size: 12px">{{nameUser}}</span>
        <p class="mb-0" style="font-size: 10px">
            <small>{{users?.dataroles?.libelle_role || 'Inconnu'}}</small>
            <i class="align-middle fa-solid fa-angle-down"></i>
        </p>
    </div>
  </div>
  <ul class="profile-dropdown onhover-show-div">
    @for(item of profile; track item) {
        <li>
            <a class="flex items-center" href="javascript:void(0)" [routerLink]="item.path">
                <app-feather-icon [icon]="item.icon"></app-feather-icon>
                <span>{{ item.title }}</span>
            </a>
        </li>
    }
    <li>
        <a class="flex items-center" href="javascript:void(0)">
            <app-feather-icon [icon]="'log-in'"></app-feather-icon>
            <span (click)="logOut()">Déconnexion</span>
        </a>
    </li>
  </ul>