<app-card [cardClass]="'helper-height-equal'" [header]="'pb-0'" [headerTitle]="'Font Weight'" [border]="true" [padding]="false">

    <p class="f-m-light mt-1" header5>Use font-weight classes like: <code>f-w-* [100 / 300 / 400 / 600 / 700 / 900]</code>.</p>

    <div class="helper-common-box">
        <div class="f-w-100"> You can set light font weight heading f-w-100</div>
      </div>
      <div class="helper-common-box">
        <div class="font-light">You can set light font weight heading font-light</div>
      </div>
      <div class="helper-common-box">
        <div class="font-normal">You can set light font weight heading font-normal</div>
      </div>
      <div class="helper-common-box">
        <div class="font-semibold">You can set bolder font weight heading font-semibold</div>
      </div>
      <div class="helper-common-box">
        <div class="font-bold">You can set bold font weight heading font-bold</div>
      </div>
      <div class="helper-common-box">
        <div class="font-black">You can set bold font weight heading font-black</div>
      </div>
</app-card>
