<app-card [headerTitle]="'Font Weight'" [header]="'pb-0'" [border]="true" [padding]="false" [cardBodyClass]="'flex flex-col gap-4'">
    <p class="f-m-light mt-1" header5>Using <code>f-w-*</code> class, you can change the font weight.</p>

    <h1 class="font-black">You can set bolder font weight Heading 1 using<code> font-black</code></h1>
    <h2 class="font-bold">You can set bold font weight Heading 2 using<code> font-bold</code></h2>
    <h3 class="font-semibold">You can set medium font weight Heading 3 using<code> font-semibold</code></h3>
    <h4 class="font-medium">You can set normal font weight Heading 4 using<code> font-medium</code></h4>
    <h5 class="font-normal">You can set light font weight Heading 5 using<code> font-normal</code></h5>
    <h6 class="font-light">You can set light font weight Heading 6 using<code> font-light</code></h6>
    
</app-card>