<div class="container">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-6 lg:col-span-12">
            <app-basic-modals></app-basic-modals>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-sizes-modals></app-sizes-modals>
        </div>
        <div class="col-span-12">
            <app-full-screen-modals></app-full-screen-modals>
        </div>
        <div class="col-span-4 xl:col-span-6 md:col-span-12">
            <app-centered-modal></app-centered-modal>
        </div>
        <div class="col-span-4 xl:col-span-6 md:col-span-12">
            <app-toggle-between-modal></app-toggle-between-modal>
        </div>
        <div class="col-span-4 xl:col-span-12">
            <app-static-backdrop-modal></app-static-backdrop-modal>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-grid-modal></app-grid-modal>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-scrolling-long-content-modal></app-scrolling-long-content-modal>
        </div>
        <div class="col-span-12">
            <app-cuba-custom-modals></app-cuba-custom-modals>
        </div>
    </div>
</div>