<div class="container w-full">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-12 box-col-12">
            <app-animated-timeline></app-animated-timeline>
        </div>
        <div class="xl:col-span-12 col-span-6 box-col-6 notification main-timeline">
            <app-basic-timeline></app-basic-timeline>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-hovering-timeline></app-hovering-timeline>
        </div>
        <div class="col-span-4 xxl:col-span-5 xl:col-span-12 box-col-12 notification">
            <app-variation-timeline></app-variation-timeline>
        </div>
        <div class="col-span-8 xxl:col-span-7 xl:col-span-12 box-col-12">
            <app-horizontal-timeline></app-horizontal-timeline>
        </div>
        <div class="col-span-12 box-col-12">
            <app-half-rounded-timeline></app-half-rounded-timeline>
        </div>
    </div>
</div>