<div class="grid grid-cols-12 card-gap">
    <div class="col-span-8 xxl:col-span-12 box-col-12">
        <app-project-detail></app-project-detail>
    </div>
    <div class="col-span-4 xxl:col-span-6 md:col-span-12 xxl:order-1 sm:order-1 box-col-6 box-ord-1">
      <app-project-to-do></app-project-to-do>
    </div>
    <div class="col-span-8 xl:col-span-12 xl-100 box-col-12">
      <app-pending-projects></app-pending-projects>
    </div>
    <div class="col-span-4 xl:col-span-6 md:col-span-12 xl-50 xxl:order-2 sm:order-2 box-col-6 box-ord-2">
      <app-task-overview></app-task-overview>
    </div>
    <div class="col-span-4 xxl:col-span-12 recent-xl-50 xxl:order-3 sm:order-3 box-col-12 box-ord-3">
      <app-recent-activity></app-recent-activity>
    </div>
    <div class="col-span-4 xl:col-span-6 xl-50 md:col-span-12 xxl:order-4 sm:order-4 box-col-6 box-ord-4">
      <app-team-member></app-team-member>
    </div>
    <div class="col-span-4 xl:col-span-6 md:col-span-12 xl-50 xxl:order-5 sm:order-5 box-col-6 box-ord-5">
      <app-comments></app-comments>
    </div>
</div>