<div class="container">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-6 xxl:col-span-12 box-col-12">
            <app-card-placeholder></app-card-placeholder>
        </div>
        <div class="col-span-6 xxl:col-span-12 box-col-12">
            <app-width-sizing-placeholder></app-width-sizing-placeholder>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-animation-placeholder></app-animation-placeholder>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-custom-animation-placeholder></app-custom-animation-placeholder>
        </div>
        <div class="col-span-12">
            <app-color-placeholder></app-color-placeholder>
        </div>
    </div>
</div>