<app-card [headerTitle]="'Link Color in Dark Theme'" [header]="'pb-0'" [border]="true" [padding]="false" [cardBodyClass]="'dark-alert-msg'">
  <p class="f-m-light mt-1" header5>To create an alert, use <code> alert-*</code> class.</p>

    <div class="grid grid-cols-12 card-gap">
      @for(i of [0, 4]; track i) {
        <div class="col-span-6 xl:col-span-12">
          @for(color of colors.slice(i, i + 4); track color) {
            <p class="mb-0">{{ color.color | titlecase }} Alert</p>

            <div class="alert alert-{{ color.color }} dark" role="alert">
              <p [class.txt-light]="color.color != 'light'">The 
                <a class="alert-link" [ngClass]="color.color == 'light' ? 'text-dark' : 'text-white'" href="#!">"alert-{{ color.color }}" </a>
                class can be used to create an alert like this one.
              </p>
            </div>
          }
        </div>
      }
    </div>
</app-card>