<div class="modal  fade show modal-backdrop">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content category-popup">
            <div class="modal-header">
                <h5 class="modal-title">{{validationForm.value.idmenu ? 'MODIFIER LE MENU':'AJOUTER UN MENU'}}</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body p-0 custom-input">
                <div class="text-start">
                    <div class="p-20">
                        <div class="alert alert-danger flex items-center gap-3" role="alert"
                             style="animation: slideDown 0.3s ease;" *ngIf="errorTexte">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle stroke-danger">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="12" y1="8" x2="12" y2="12"></line>
                                    <line x1="12" y1="16" x2="12.01" y2="16"></line>
                                </svg>
                            </div>
                            <span class="txt-light">{{errorTexte}}</span>
                        </div>
                        <form class="grid grid-cols-12 gap-4 needs-validation" novalidate="" [formGroup]="validationForm" (ngSubmit)="submitForm()">
                            <div class="col-span-12">
                                <label class="form-label" for="title">Titre
                                    <span class="txt-danger">*</span>
                                </label>
                                <input class="form-control"
                                       id="title"
                                       type="text" placeholder=""
                                       formControlName="title"
                                       [ngClass]="{ 'is-invalid' : validationForm.controls['title'].touched &&  validationForm.controls['title'].errors?.['required'] , 'is-valid' : validationForm.controls['title'].valid}">
                                @if(validationForm.controls['title'].valid) {
                                <!--<div class="valid-feedback">Looks's Good!</div>-->
                                } @else if(validationForm.controls['title'].touched && validationForm.controls['title'].errors?.['required']) {
                                <div class="invalid-feedback">Veuillez saisir le titre svp</div>
                                }
                            </div>
                            <div class="col-span-12">
                                <label class="form-label" for="path">Chemin
                                    <span class="txt-danger">*</span>
                                </label>
                                <input class="form-control"
                                       id="path"
                                       type="text" placeholder=""
                                       formControlName="path"
                                       [ngClass]="{ 'is-invalid' : validationForm.controls['path'].touched &&  validationForm.controls['path'].errors?.['required'] , 'is-valid' : validationForm.controls['path'].valid}">
                                @if(validationForm.controls['path'].valid) {
                                <!--<div class="valid-feedback">Looks's Good!</div>-->
                                } @else if(validationForm.controls['path'].touched && validationForm.controls['path'].errors?.['required']) {
                                <div class="invalid-feedback">Veuillez saisir le chemin svp</div>
                                }
                            </div>
                            <div class="col-span-12">
                                <label class="form-label" for="icontype">Type de lien
                                    <span class="txt-danger">*</span>
                                </label>
                                <input class="form-control"
                                       id="icontype"
                                       type="text" placeholder="Ex: sub, link"
                                       formControlName="icontype"
                                       [ngClass]="{ 'is-invalid' : validationForm.controls['icontype'].touched &&  validationForm.controls['icontype'].errors?.['required'] , 'is-valid' : validationForm.controls['icontype'].valid}">
                                @if(validationForm.controls['icontype'].valid) {
                                <!--<div class="valid-feedback">Looks's Good!</div>-->
                                } @else if(validationForm.controls['icontype'].touched && validationForm.controls['icontype'].errors?.['required']) {
                                <div class="invalid-feedback">Veuillez saisir le type de lien</div>
                                }
                            </div>
                            <div class="col-span-12">
                                <label class="form-label" for="icon">Icon
<!--                                    <span class="txt-danger">*</span>-->
                                </label>
                                <input class="form-control"
                                       id="icon"
                                       type="text" placeholder=""
                                       formControlName="icon"
                                       [ngClass]="{ 'is-invalid' : validationForm.controls['icon'].touched &&  validationForm.controls['icon'].errors?.['required'] , 'is-valid' : validationForm.controls['icon'].valid}">
                                @if(validationForm.controls['icon'].valid) {
                                <!--<div class="valid-feedback">Looks's Good!</div>-->
                                } @else if(validationForm.controls['icon'].touched && validationForm.controls['icon'].errors?.['required']) {
                                <div class="invalid-feedback">Veuillez saisir le chemin svp</div>
                                }
                            </div>
                            <div class="col-span-12">
                                <label class="form-label" for="rang">Rang
                                    <!--                                    <span class="txt-danger">*</span>-->
                                </label>
                                <input class="form-control"
                                       id="rang"
                                       type="text" placeholder=""
                                       formControlName="rang"
                                       [ngClass]="{ 'is-invalid' : validationForm.controls['icon'].touched &&  validationForm.controls['rang'].errors?.['required'] , 'is-valid' : validationForm.controls['rang'].valid}">
                                @if(validationForm.controls['rang'].valid) {
                                <!--<div class="valid-feedback">Looks's Good!</div>-->
                                } @else if(validationForm.controls['rang'].touched && validationForm.controls['rang'].errors?.['required']) {
                                <div class="invalid-feedback">Veuillez saisir le chemin svp</div>
                                }
                            </div>
                            <div class="col-span-12">
                                <label class="flex items-center gap-3 cursor-pointer">
                                    <nz-switch nzCheckedChildren="Actif" nzUnCheckedChildren="Inactif" formControlName="actif"></nz-switch>
<!--                                    <span class="form-label mb-0">Activer le menu</span>-->
                                </label>
                            </div>
                            <div class="col-span-12 flex justify-end">
                                <button class="btn btn-primary text-white w-full mt-8 newBtn" type="submit">
                                    <i class="{{isloading?'fas fa-spin fa-circle-notch':''}}"></i>
                                    {{validationForm.value.idmenu ? 'Modifier':' Créer +'}}

                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>