<div class="container role-permission-wrapper">
    <div class="grid grid-cols-12">
        <div class="col-span-12">
            <div class="card">
                <div class="card-header card-no-border text-end">
                    <div class="card-header-right-icon">
                        <a class="btn btn-primary font-medium text-white !inline-block" href="javascript:void(0)" (click)="openPermissionModal()">
                            <i class="fa-solid fa-plus pe-2"></i>Add Permission
                        </a>
                    </div>
                </div>
                <div class="card-body pt-0 px-0">
                    <div class="list-product permission-table">
                        <div class="overflow-x-auto custom-scrollbar">
                            <app-table [hasCheckbox]="true" [tableConfig]="tableConfig" [searchPlaceholder]="'Search here... '" [pageSize]="10" [paginateDetails]="true" [showPaginate]="true" [selectedRows]="true" (action)="handleAction($event)"></app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if(modalOpen) {
        <app-permission-modal (modalOpen)="handleModalOpen($event)"></app-permission-modal>
    }
</div>