<div class="container">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-12">
            <app-initial-progress-bar></app-initial-progress-bar>
            <div class="grid grid-cols-12 card-gap">
                <div class="col-span-6 xl:col-span-12">
                    <app-striped-progress-bar></app-striped-progress-bar>
                </div>
                <div class="col-span-6 xl:col-span-12">
                    <app-animated-progress-bar></app-animated-progress-bar>
                </div>
            </div>
            <div class="grid grid-cols-12 card-gap">
                <div class="col-span-6 xl:col-span-12">
                    <app-multiple-bar></app-multiple-bar>
                </div>
                <div class="col-span-6 xl:col-span-12">
                    <app-number-step-progress></app-number-step-progress>
                </div>
            </div>
            <app-custom-progress-bar></app-custom-progress-bar>
            <div class="grid grid-cols-12 card-gap">
                <div class="col-span-6 xl:col-span-12">
                    <app-small-progress-bar></app-small-progress-bar>
                </div>
                <div class="col-span-6 xl:col-span-12">
                    <app-large-progress-bar></app-large-progress-bar>
                </div>
            </div>
        </div>
        <div class="col-span-6 xxl:col-span-12">
            <app-custom-size-progress-bar></app-custom-size-progress-bar>
        </div>
        <div class="col-span-6 xxl:col-span-12">
            <app-step-progress-bar></app-step-progress-bar>
        </div>
    </div>
</div>