<div class="container">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-6 xl:col-span-12">
            <app-numbering-wizard></app-numbering-wizard>
        </div>       
        <div class="col-span-6 xl:col-span-12">
            <app-student-validation-form></app-student-validation-form>
        </div>
        <div class="col-span-12">
            <app-vertical-validation-wizard></app-vertical-validation-wizard>
        </div>
        <div class="col-span-12">
            <app-shipping-form></app-shipping-form>
        </div>      
    </div>
</div>