<div class="container">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-12">
            <app-basic-tooltip></app-basic-tooltip>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-colored-tooltip></app-colored-tooltip>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-light-tooltip></app-light-tooltip>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-tooltip-direction></app-tooltip-direction>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-tooltip-html-element></app-tooltip-html-element>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-tooltip-outlined></app-tooltip-outlined>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-disabled-tooltip></app-disabled-tooltip>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-svg-tooltip></app-svg-tooltip>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-icon-tooltip></app-icon-tooltip>
        </div>
    </div>
</div>