<app-card [cardClass]="'mb-4 o-hidden'" [cardBodyClass]="'analytics-widget'">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-3 sm:col-span-12">
        <img class="max-w-full h-auto" src="assets/images/dashboard-10/1.svg" alt="Analytics Chart">
    </div>
    <div class="col-span-9 sm:col-span-12">
      <h5 class="card-title mb-4">Website Analytics Process & Management </h5>
      <p class="card-text c-o-light">Website analytics is the process of analyzing and interpreting data related to website traffic, user behavior, and engagement to optimize.</p>
      <a class="purchase-btn btn btn-primary btn-hover-effect font-medium text-white inline-block" [routerLink]="['/pricing']" > Upgrade Plan</a>
    </div>
    </div>
</app-card>