<div class="md-sidebar">
    <a class="btn btn-primary email-aside-toggle md-sidebar-toggle text-white" (click)="openSidebar()">Filters</a>
    <div class="md-sidebar-aside job-sidebar custom-scrollbar" [class.open]="isOpen">
        <app-card [headerTitle]="'Filters'" [cardBodyClass]="'filter-companies'" [border]="true" [padding]="false">
            <div class="accordion" id="accordionExample">
                @for(details of sidebar; track details){
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" [class.collapsed]="!accordionOpen[details.id]" (click)="toggleAccordion(details.id)">
                                {{ details.title }}
                                <app-feather-icon class="svg-color" [icon]="'chevron-down'"></app-feather-icon>
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" [class.show]="accordionOpen[details.id]" id="collapseOne">
                            <div class="accordion-body">
                                    <div class="product-filter">
                                        <div class="checkbox-animated mt-0">
                                            @for(item of details.details; track item){
                                                <div class="form-check">
                                                    @if(item.rating && item.rate_number){
                                                        <input class="checkbox_animated" id="chk-ani12" type="checkbox" data-original-title="" title="">
                                                        <label class="form-check-label" for="chk-ani12">
                                                            <span class="common-flex">
                                                                <bar-rating  [rate]="item.rate_number" [readonly]="true" [max]="5">
                                                                    <ng-template ratingActive>
                                                                        <i class="fa-solid fa-star" style="color: #ffb829"></i>
                                                                    </ng-template>
                                                                    <ng-template ratingInactive>
                                                                        <i class="fa-solid fa-star" style="color: #d2d2d2"></i>
                                                                    </ng-template>
                                                                    <ng-template ratingFraction>
                                                                        <i class="fa-solid fa-star-half-stroke" style="color: #ffb829"></i>
                                                                    </ng-template>
                                                                </bar-rating>
                                                            </span>
                                                            <span class="number">({{ item.badge_text }})</span>
                                                        </label>
                                                    } @else {
                                                        <input class="checkbox_animated" id="{{ item.id }}" type="checkbox" data-original-title="" title="">
                                                        <label class="form-check-label" for="{{ item.id }}">
                                                            <span>{{ item.title }}</span>
                                                            @if(item.badge && !item.rating){
                                                                <span class="number">({{ item.badge_text }})</span>
                                                            }
                                                        </label>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </app-card>
    </div>
</div>