<div class="container">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-4 xxl:col-span-6 md:col-span-12">
            <app-star-rating></app-star-rating>
        </div>
        <div class="col-span-4 xxl:col-span-6 md:col-span-12">
            <app-star-msg-rating></app-star-msg-rating>
        </div>
        <div class="col-span-4 xxl:col-span-6 md:col-span-12">
            <app-reset-rating></app-reset-rating>
        </div>
        <div class="col-span-4 xxl:col-span-6 md:col-span-12">
            <app-horizontal-rating-bar></app-horizontal-rating-bar>
        </div>
        <div class="col-span-4 xxl:col-span-6 md:col-span-12">
            <app-vertical-rating-bar></app-vertical-rating-bar>
        </div>
        <div class="col-span-4 xxl:col-span-6 md:col-span-12">
            <app-square-rating></app-square-rating>
        </div>
        <div class="col-span-4 xxl:col-span-6 md:col-span-12">
            <app-movie-rating></app-movie-rating>
        </div>
        <div class="col-span-4 xxl:col-span-6 md:col-span-12">
            <app-effect-rating></app-effect-rating>
        </div>
    </div>
</div>