<div class="container">
    <h4 class="mb-4 mt-sm-5 mt-3 common-title">Swiper Sliders</h4>
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-6 xl:col-span-12">
            <app-vertical-slider></app-vertical-slider>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-nested-swiper></app-nested-swiper>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-mouse-wheel-variant></app-mouse-wheel-variant>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-auto-play-variant></app-auto-play-variant>
        </div>
        <div class="col-span-12 xl:col-span-12">
            <app-effect-coverflow></app-effect-coverflow>
        </div>
    </div>
</div>
