<div class="container tree-view">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-6 lg:col-cpan-12">
            <app-stackable-sortable-lists></app-stackable-sortable-lists>
        </div>
        <div class="col-span-6 lg:col-cpan-12">
            <app-sortable-swap-list></app-sortable-swap-list>
        </div>
        <div class="col-span-4 lg:col-span-6 md:col-span-12">
            <app-simple-list></app-simple-list>
        </div>
        <div class="col-span-4 lg:col-span-6 md:col-span-12">
            <app-shared-list></app-shared-list>
        </div>
        <div class="col-span-4 lg:col-span-12">
            <app-disable-list></app-disable-list>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-sortable-handle-list></app-sortable-handle-list>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-draggable-filtering></app-draggable-filtering>
        </div>
        <div class="col-span-12">
            <app-random-sortable></app-random-sortable>
        </div>
    </div>
</div>