<div class="container">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-6 xl:col-span-12"> 
            <app-custom-scrollbar></app-custom-scrollbar>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-small-size-scrollbar></app-small-size-scrollbar>
        </div>
        <div class="col-span-4 xxl:col-span-6 md:col-span-12">
            <app-badge-scrollbar></app-badge-scrollbar>
        </div>
        <div class="col-span-4 xxl:col-span-6 md:col-span-12">
            <app-profile-scrollbar></app-profile-scrollbar>
        </div>
        <div class="col-span-4 xxl:col-span-12">
            <app-scrollbar-content></app-scrollbar-content>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-horizontal-scrollbar></app-horizontal-scrollbar>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-both-side-scrollbar></app-both-side-scrollbar>
        </div>
    </div>
</div>