<app-card [headerTitle]="'Simple Accordion'" [header]="'pb-0'" [border]="true" [padding]="false">
    <p class="f-m-light mt-1" header5>
      Drop the <code>collapsed </code> class from the
      <code> accordion-button </code>element and set its aria-expanded attribute to true.
    </p>
    <div class="accordion-1 accordion dark-accordion">
      @for(accordion of simpleAccordion; track accordion) {
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button accordion-light-primary txt-primary active" type="button" [class.collapsed]="!accordionOpen[accordion.id]" (click)="toggleAccordion(accordion.id)" [attr.aria-expanded]="accordionOpen[accordion.id] ? true : false">
                {{ accordion.title }}
                <app-feather-icon [icon]="'chevron-down'" [class]="'svg-color'"></app-feather-icon>
            </button>
          </h2>
          <div class="accordion-collapse collapse" [class.show]="accordionOpen[accordion.id]">
            <div class="accordion-body" [innerHTML]="accordion.description"></div>
          </div>
        </div>
      }
  </div>
</app-card>