<div class="relative">
    <div class="knowledgebase-bg">
        <img class="bg-img-cover bg-center" src="assets/images/knowledgebase/bg_1.jpg" alt="image">
    </div>
    <div class="knowledgebase-search">
        <div>
            <h3 class="txt-dark">How Can I help you?</h3>
            <form class="form-inline">
                <div class="form-group w-full">
                    <app-feather-icon [icon]="'search'"></app-feather-icon>
                    <input class="form-control-plaintext w-full" type="text" placeholder="Type question here">
                </div>
            </form>
        </div>
    </div>
</div>