<form class="stepper-four needs-validation custom-input" novalidate="">
  <div class="grid grid-cols-12 gap-4 w-full">
    <div class="col-span-6 sm:col-span-12">
      <label class="form-label" for="bankName">Bank Name</label>
      <input class="form-control" id="bankName" type="text" placeholder="Enter your bank name">
    </div>
    <div class="col-span-6 sm:col-span-12"> 
      <label class="form-label" for="cardNumber">Card Number</label>
      <input class="form-control" id="cardNumber" type="number" placeholder="xxxx xxxx xxxx xxxx">
    </div>
    <div class="col-span-4 xl:col-span-12">
      <label class="form-label" for="expirationDates01">Expiration(MM/YY)</label>
      <input class="form-control" id="expirationDates01" type="number" placeholder="xx/xx">
    </div>
    <div class="col-span-4 xl:col-span-6 sm:col-span-12">
      <label class="form-label" for="cvvNumber">CVV Number</label>
      <input class="form-control" id="cvvNumber" type="number">
    </div>
    <div class="col-span-4 xl:col-span-6 sm:col-span-12">
      <label class="form-label" for="shiftCode">Shift Code</label>
      <input class="form-control" id="shiftCode" type="text">
    </div>
    </div>
</form>