<app-card [headerTitle]="'Border Tabs'" [header]="'pb-0'" [border]="true" [padding]="false" [cardBodyClass]="'bottom-border-tab tabs'">
  <p class="mt-1 f-m-light" header5>
    Use <code>class="tab-links"</code> to create bordered tab navigation with icons.  
    The <code>active</code> class highlights the selected tab, and <code>handleTab</code> manages switching.  
  </p>
        
  <ul class="nav nav-tabs border-tab mb-0 tab-links" id="bottom-tab">
    <li class="tab-link nav-border txt-primary tab-primary pt-0" [class.active]="activeTab == 'home'" (click)="handleTab('home')">
      <i class="icofont icofont-ui-home"> </i>Home
    </li>
    <li class="tab-link nav-border txt-primary tab-primary" [class.active]="activeTab == 'inbox'" (click)="handleTab('inbox')">
      <i   class="icofont icofont-ui-message"></i>Inbox
    </li>
    <li class="tab-link nav-border txt-primary tab-primary" [class.active]="activeTab == 'contact'" (click)="handleTab('contact')">
      <i   class="icofont icofont-man-in-glasses"></i>Contact
    </li>
  </ul>
  <div class="card-body px-0 pb-0">
    <div class="tab-content">
      <div class="tab-pan fade show active">
        @if(activeTab == 'home') {
          <p class="pt-3">This is some placeholder content the <strong>Home tab's </strong> associated
            content. Clicking another tab will toggle the visibility of this one for the next. The tab
            JavaScript swaps classes to control the content visibility and styling. You can use it with
            tabs, pills, and any other <strong>.nav</strong>-powered navigation.To convey the <strong>active
            </strong> state to assistive technologies, use the <strong>aria-current </strong> attribute —
            using the page value for current page, or true for the current item in a set. The base
            <strong>nav </strong> component is built with flexbox and provide a strong foundation for
            building all types of navigation components.
          </p>
        } @else if(activeTab == 'inbox') {
          <div class="card-body pb-0">
            <div class="main-inbox">
              <div class="header-inbox">
                <div class="header-left-inbox">
                  <div class="inbox-img"><img src="assets/images/ecommerce/06.jpg" alt="profile"></div>
                  <div class="inbox-content">
                    <h6>Dalbult Caslin </h6>
                    <p class="text-muted">stroman.rogers&#64;gmail.com</p>
                  </div>
                </div>
                <ul class="header-right-inbox">
                  <li>
                    <p>8 JAN 11:30PM</p>
                  </li>
                  <li> <i class="txt-danger icofont icofont-ui-delete"></i></li>
                  <li> <i class="icofont icofont-telegram"></i></li>
                </ul>
              </div>
              <div class="body-inbox mt-2">
                <div class="body-h-wrapper"><i class="me-2 tab-space icofont icofont-star"></i><em>Compare
                    Prices Find the Best Computer Assessors Fronted Issue.</em></div>
                <p class="pt-2">Site speed and design are two of the most important ranking factors Google
                  takes into consideration, as they have the biggest effect of customer staying on site as
                  the website respond faster.</p>
              </div>
            </div>
          </div>
        } @else if(activeTab == 'contact') {
          <div class="card-body px-0 pb-0">
            <div class="form">
              <div class="mb-4">
                <label class="form-label" for="exampleFormControltwo">Email Address</label>
                <input class="form-control" id="exampleFormControltwo" type="email" placeholder="youremail@gmail.com">
              </div>
              <div class="mb-0">
                <label class="form-label" for="exampleFormControlTextarea1">Example Textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

</app-card>