<div class="container">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-6 md:col-span-12">
            <app-default-pagination></app-default-pagination>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-pagination-active-disable></app-pagination-active-disable>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-pagination-icon></app-pagination-icon>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-rounded-pagination></app-rounded-pagination>
        </div>
        <div class="col-span-6 xxl:col-span-12">
            <app-pagination-alignment></app-pagination-alignment>
        </div>
        <div class="col-span-6 xxl:col-span-12">
            <app-pagination-sizing></app-pagination-sizing>
        </div>
    </div>
</div>