.tab-links {
  justify-content: flex-start;
  margin-left: 0 !important;
  background-color: #e8e8e8 !important;
}

::ng-deep .table-header label::before {
  content: 'Rechercher : ';
  font-weight: 500;
}

.main-setting .tab-content {
  border-left: none !important;
}


::ng-deep app-table svg {


}


::ng-deep .square-white svg {
  fill: rgba(82, 82, 108, 0.8);
  width: 20px;
  height: 20px;
}

::ng-deep .square-white {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 28px 6px rgba(235, 235, 235, 0.4);
  margin: auto;
}

/* largeur fixe de la colonne actions */
::ng-deep app-table td:last-child {
  width: 50px;
  max-width: 50px;
  gap: normal !important;
  //white-space: nowrap;
}

::ng-deep table.table th,
::ng-deep table.table td {
  padding: 0.60rem !important;
}

.support-ticket-table thead tr th:nth-child(3), .support-ticket-table thead tr td:nth-child(3), .support-ticket-table tbody tr th:nth-child(3), .support-ticket-table tbody tr td:nth-child(3) {
  min-width: 76px !important;
}

::ng-deep .support-ticket-table .top-body .dataTables_filter label input {
  height: 34px !important;
}

::ng-deep app-feather-icon svg {
  width: 16px;
  height: 16px;
}
