<div class="error-wrapper">
    <div class="container">
        <app-svg-icon [icon]="'error-404'"></app-svg-icon>
        <div class="grid grid-cols-12">
            <div class="col-start-4 md:col-start-0 col-span-6 md:col-span-12">
                <h3>We Could not Find This Page</h3>
                <p class="sub-content pb-6">You may not be able to find the page you are searching for, or it may have been relocated or renamed.</p>
            </div>
        </div>
        <div>
            <a class="btn btn-primary btn-lg text-white rounded-lg hover:text-white" href="javascript:void(0)" (click)="navigate()">BACK TO HOME PAGE</a>
        </div>
    </div>
</div>