<div class="container">
    <div class="taiwind-touchspin">
        <div class="grid grid-cols-12 card-gap">
            <div class="col-span-6 xl:col-span-12">
                <app-default-touchspin></app-default-touchspin>
            </div>
            <div class="col-span-6 xl:col-span-12">
                <app-outline-touchspin></app-outline-touchspin>
            </div>
            <div class="col-span-6 xl:col-span-12">
                <app-icon-with-prefix-postfix></app-icon-with-prefix-postfix>
            </div>
            <div class="col-span-6 xl:col-span-12">
                <app-button-with-prefix-postfix></app-button-with-prefix-postfix>
            </div>
            <div class="col-span-12">
                <app-rounded-touchspin></app-rounded-touchspin>
            </div>           
        </div>
    </div>
</div>