.footer {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
  padding: 15px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 265px;
  transition: 0.5s;
  z-index: 100;
}