<div class="container main-setting">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-12">
            <app-card [headerTitle]="'AJOUT DE SOCIETE'" [header]="'pb-0'" [border]="true" [padding]="false">
                <div class="grid grid-cols-12 gap-4 tabs">
                    <div class="col-span-5 lg:col-span-12">
                        <div class="tab-links nav-primary" orientation="vertical">
                            @if(errorTexte !=''){
                            <div class="alert alert-danger flex items-center" role="alert">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle stroke-danger"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg></div>
                                <span class="txt-light">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{errorTexte}}
                            </span>
                          </div>
                            }


                            <form class="grid grid-cols-12 gap-6" [formGroup]="societeForm" (ngSubmit)="submitForm()">

                                <div class="col-span-12">
                                    <label for="raison_sociale" class="form-label text-left block mb-2">
                                        Raison sociale <code class="text-red-500">*</code>
                                    </label>
                                    <input class="form-control hSoc"
                                           formControlName="raison_sociale"
                                           id="raison_sociale"
                                           type="text"
                                           placeholder="Raison sociale"
                                           [ngClass]="{ 'is-invalid' : societeForm.controls['raison_sociale'].touched &&
                                            societeForm.controls['raison_sociale'].errors?.['required'] , 'is-valid' : societeForm.controls['raison_sociale'].valid}"
                                    >
                                </div>

                                <div class="col-span-12">
                                    <label for="telephone" class="form-label text-left block mb-2">Téléphone</label>
                                    <input class="form-control hSoc"
                                           formControlName="telephone"
                                           id="telephone"
                                           type="tel"
                                           placeholder="+225 XX XX XX XX XX">
                                </div>

                                <div class="col-span-12">
                                    <label for="email" class="form-label text-left block mb-2">Adresse mail</label>
                                    <input class="form-control hSoc"
                                           formControlName="email"
                                           id="email"
                                           type="email"
                                           placeholder="exemple@email.com">
                                </div>

                                <div class="col-span-12">
                                    <label for="localisation" class="form-label text-left block mb-2">Localisation</label>
                                    <input class="form-control hSoc"
                                           formControlName="localisation"
                                           id="localisation"
                                           type="text"
                                           placeholder="Ville, Pays">
                                </div>

                                <div class="col-span-12">
                                    <label class="flex items-center gap-3 cursor-pointer">
                                        <nz-switch formControlName="active"></nz-switch>
                                        <span class="form-label mb-0">Activer la double authentification</span>
                                    </label>
                                </div>

                                <div class="col-span-12">
                                    <label class="form-label text-left block mb-2">Logo</label>
                                    <app-image-upload
                                            [placeholder]="'Ajouter le logo'"
                                            [maxSizeInMB]="5"
                                            (fileSelected)="onImageSelected($event)"
                                            (fileRemoved)="onImageRemoved()">
                                    </app-image-upload>
                                </div>

                                <div class="col-span-12 flex flex-col-reverse sm:flex-row justify-end gap-6 mt-4">
                                    <button (click)="resetForm()" class="btn btn-light w-full sm:w-auto" type="button">
                                        <i class="fa-solid fa-times"></i> Annuler
                                    </button>
                                    <button [disabled]="!societeForm.valid" class="btn btn-primary text-white w-full sm:w-auto" type="submit">
                                        <i *ngIf="!isLoad" class="fa-solid fa-check-circle"></i>
                                        <i *ngIf="isLoad" class="fas fa-spin fa-circle-notch"></i>
                                        Valider
                                    </button>
                                </div>

                            </form>


                        </div>
                    </div>
                    <div class="col-span-7 lg:col-span-12">
                        <div class="tab-content">
                            <div class="tab-pan fade show active">
                                <div class="overflow-x-auto w-full">
                                    <nz-table #basicTable
                                              [nzLoading]="isloading"
                                              [nzSize]="'small'"
                                              [nzBordered]="true"
                                              [nzData]="dataSociete"
                                              class="min-w-[700px]">
                                        <thead>
                                        <tr>
                                            <th class="whitespace-nowrap">Raison social</th>
                                            <th class="whitespace-nowrap">Téléphone</th>
                                            <th class="whitespace-nowrap">Email</th>
                                            <th class="whitespace-nowrap">Localisation</th>
                                            <th class="whitespace-nowrap">Double auth.</th>
                                            <th class="whitespace-nowrap">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let data of basicTable.data">
                                            <td class="whitespace-nowrap">{{data.raison_sociale}}</td>
                                            <td class="whitespace-nowrap">{{data.telephone}}</td>
                                            <td class="whitespace-nowrap">{{data.email}}</td>
                                            <td class="whitespace-nowrap">{{data.localisation}}</td>
                                            <td class="whitespace-nowrap">{{data.deux_facteurs}}</td>
                                            <td class="whitespace-nowrap">
                                                <button nzTooltipTitle="Modifier {{data.raison_sociale}}"
                                                        nzTooltipPlacement="topRight"
                                                        nz-tooltip
                                                        (click)="actionBtn(data)"
                                                        type="button"
                                                        class="w-10 h-10 rounded-full inline-flex items-center justify-center p-0 border-0"
                                                        style="background-color: #efefef !important; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                                                    <i class="icofont icofont-pencil-alt-2" style="font-size: 15px;"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </nz-table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </app-card>
        </div>
    </div>
</div>