<app-card [headerTitle]="'Custom File Input'" [header]="'pb-0'" [border]="true" [padding]="false" [cardClass]="'height-equal'" [cardBodyClass]="'main-custom-form input-group-wrapper'">
  <p class="f-m-light mt-1" header5>
    Input groups include support for custom selects and custom <code>file uploads</code>. Browser default versions of these are not supported.</p>
   
    <div class="input-group">
      <label class="input-group-text !rounded-l-lg !rounded-none" for="inputGroupFile01">Upload</label>
      <input class="form-control" id="inputGroupFile01" type="file">
    </div>
    <div class="input-group">
      <input class="form-control !rounded-l-lg !rounded-none" id="inputGroupFile02" type="file">
      <label class="input-group-text !rounded-r-lg !rounded-none" for="inputGroupFile02">Verify</label>
    </div>
    <div class="input-group">
      <button  class="btn btn-outline-secondary border !rounded-l-lg !rounded-none"  id="inputGroupFileAddon03" type="button">
        <i class="icofont icofont-ui-copy"></i>
      </button>
      <input class="form-control !rounded-r-lg !rounded-none" id="inputGroupFile03"  type="file" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
    </div>
    <div class="input-group">
      <input class="form-control !rounded-l-lg !rounded-none" id="inputGroupFile04" type="file" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
      <button class="btn btn-outline-secondary border !rounded-r-lg !rounded-none" id="inputGroupFileAddon04" type="button">Submit</button>
    </div>
</app-card>