<div class="container-fluid">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-6 md:col-span-12">
            <app-basic-form></app-basic-form>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-floating-form></app-floating-form>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-select-sizing></app-select-sizing>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-form-control-sizing></app-form-control-sizing>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-file-input></app-file-input>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-flat-input-style></app-flat-input-style>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-basic-html-input-control></app-basic-html-input-control>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-basic-floating-input-control></app-basic-floating-input-control>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-edges-input-style></app-edges-input-style>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-raise-input-style></app-raise-input-style>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-dynamic-form-field></app-dynamic-form-field>
        </div>
        <div class="col-span-6 lg:col-span-12">
            <app-auto-size-textarea></app-auto-size-textarea>
        </div>
        <div class="col-span-12">
            <app-max-length-elements></app-max-length-elements>
        </div>
    </div>
</div>