
<div class="container main-accordion">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-6 xl:col-span-12">
            <app-simple-accordion></app-simple-accordion>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-flush-accordion></app-flush-accordion>
        </div>
        <div class="col-span-12">
            <app-multiple-collapse-accordion></app-multiple-collapse-accordion>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-icon-accordion></app-icon-accordion>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-outline-accordion></app-outline-accordion>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-horizontal-accordion></app-horizontal-accordion>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-collapse-accordion></app-collapse-accordion>
        </div>
    </div>
</div>