<div class="container default-toasts">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-12">
            <app-message-toast></app-message-toast>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-live-toast></app-live-toast>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-color-scheme-toast></app-color-scheme-toast>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-stacking-toast></app-stacking-toast>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-translucent-toast></app-translucent-toast>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-default-toast></app-default-toast>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-unique-toast></app-unique-toast>
        </div>
        <div class="col-span-12">
            <app-toast-placement></app-toast-placement>
        </div>
    </div>
</div>