<div class="container dashboard-8">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-9 xxl:col-span-8 xl:col-span-12 box-col-8">
            <div class="grid grid-cols-12">
                <div class="col-span-12">
                    <app-product-category></app-product-category>
                </div>
                <div class="col-span-12">
                    <app-product></app-product>
                </div>
            </div>
        </div>
        <div class="col-span-3 xxl:col-span-4 xl:col-span-12 box-col-4e">
            <app-pos-checkout></app-pos-checkout>
        </div>
    </div>
</div>