
<div class="container">
    <div class="grid grid-cols-12">
        <div class="col-span-5 xl:col-span-12 b-center bg-size"
             style="background-image: url(&quot;../assets/images/login/ged_cover.png&quot;);
          background-size: contain;
          /*background-position: center center;*/
          display: block;
          background-repeat: no-repeat;
          background-attachment: fixed;">
            <div class="overlay"></div>
            <img class="bg-img-cover bg-center" src="../assets/images/login/ged_cover.png" alt="looginpage" style="display: none;">
            <p class="infoTexte">
                Logiciel d'Archivage et de<br>
                Gestion Électronique de Documents (GED) <br>
                <small>Du Chaos Documentaire à la Sécurité Numérique Intelligente.</small>
            </p>
        </div>
        <div class="col-span-7 xl:col-span-12">
            <div class="login-card login-dark">
                <!--      <div class="login-card login-dark" style="background-image: url(&quot;../assets/images/login/back_apw.png&quot;) !important;">-->
                <div>
                    <div>
                        <a class="logo" href="javascript:void(0)">
                            <img class="max-w-full h-auto for-light logoTaille" src="assets/images/logo/logo_apw_full.png" alt="logo">
                            <img class="max-w-full h-auto for-dark logoTaille" src="assets/images/logo/logo_apw_full.png" alt="logo">
                        </a>
                    </div>
                    <div class="login-main" style="display: flex;flex-direction: column;">

                        <form class="theme-form" [formGroup]="loginForm" (ngSubmit)="login()">
                            <h4>Renouvellement de mot de passe</h4>
                            <p>Entrez votre identifiant.</p>
                            <div class="alert alert-danger flex items-center" role="alert" *ngIf="errorTexte">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle stroke-danger"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg></div>
                                <span class="txt-light">
                                &nbsp;{{errorTexte}}
                            </span>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Votre adresse mail</label>
                                <div class="form-input relative">
                                    <input class="form-control" type="email" name="email" placeholder="Entrez votre adresse mail" formControlName="email">
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <a class="link" [routerLink]="['/auth/connexion']">Se connecter</a>
                                <div class="text-end">
                                    <button class="btn btn-primary btn-block w-full text-white mt-[24px] btnCnx"
                                            type="submit" [disabled]="!loginForm.valid">
                                        <i class=" {{!loading ? '':'fas fa-spin fa-circle-notch'}}"></i>&nbsp; Réinitialiser</button>
                                </div>

                            </div>
                        </form>
                        <p style="margin-top: auto !important;" class="text-center mt-[24px] !mb-0">Build v4.0.0
                            <i class="icofont icofont-heart-alt" style="color:#ad0631"></i>
                            <a class="ms-2" href="https://www.logicielplus.net/" target="_blank">By Logiciel +</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>