<app-card [headerTitle]="'Projects Overview'" [headerClass]="'m-0'" [border]="true" [padding]="false">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-3 xxl:col-span-6 sm:col-span-12 box-col-6">
            <app-project-cost-performance></app-project-cost-performance>
        </div>
        <div class="col-span-3 xxl:col-span-6 sm:col-span-12 box-col-6">
            <app-project-rating></app-project-rating>
        </div>
        <div class="col-span-3 xxl:col-span-6 sm:col-span-12 box-col-6">
            <app-project-professional-team></app-project-professional-team>
        </div>
        <div class="col-span-3 xxl:col-span-6 sm:col-span-12 box-col-6">
            <app-total-projects></app-total-projects>
        </div>
    </div>
</app-card>