<div class="container-fluid">
    <div class="page-title">
        <div class="page-title-inner">

            <div class="page-title-left">
                <div>
<!--                    <h3 class="page-title-text">{{ title }}</h3>-->
                </div>
            </div>

            <div class="page-title-right">
                <ol class="breadcrumb-custom">
                    <li class="breadcrumb-custom-item">
                        <a [routerLink]="['/']" class="breadcrumb-home">
                            <i class="icon-home"></i>
                            Accueil
                        </a>
                    </li>

                    @if(breadcrumbs && breadcrumbs.parentBreadcrumb){
                    <li class="breadcrumb-custom-item">
                      <span class="breadcrumb-separator">›</span>
                      <span class="breadcrumb-parent">{{ breadcrumbs.parentBreadcrumb }}</span>
          </li>
                    }

                    @if(breadcrumbs.childBreadcrumb){
                    <li class="breadcrumb-custom-item">
                      <span class="breadcrumb-separator">›</span>
                      <span class="breadcrumb-active">{{ breadcrumbs.childBreadcrumb }}</span>
          </li>
                    }
                </ol>
            </div>

        </div>
    </div>
</div>