<div class="container-fluid">
    <div class="page-title">
        <div class="page-title-inner">

            <div class="page-title-left">
                <div>
<!--                    <h3 class="page-title-text">{{ title }}</h3>-->
                </div>
            </div>

            <div class="page-title-right">
                <ol class="breadcrumb-custom">
                    <li class="breadcrumb-custom-item breadcrumb-icon-item">
                        <!-- Même icône que celle du menu latéral pour la page courante -->
                        <app-svg-icon class="breadcrumb-icon" [icon]="menuIcon" [change]="true"></app-svg-icon>
                    </li>

                    @if(breadcrumbs && breadcrumbs.parentBreadcrumb){
                    <li class="breadcrumb-custom-item">
                      <span class="breadcrumb-separator">›</span>
                      <span class="breadcrumb-parent">{{ breadcrumbs.parentBreadcrumb }}</span>
                    </li>
                    }

                    @if(breadcrumbs.childBreadcrumb){
                    <li class="breadcrumb-custom-item">
                      <span class="breadcrumb-separator">›</span>
                      <span class="breadcrumb-active">{{ breadcrumbs.childBreadcrumb }}</span>
                    </li>
                    }
                </ol>
            </div>

        </div>
    </div>
</div>