<app-card [cardClass]="'helper-height-equal'" [header]="'pb-0'" [headerTitle]="'Font-style'" [border]="true" [padding]="false">
    <p class="f-m-light mt-1" header5>Use font-style like: <code> f-s-* [normal / italic / oblique / initial / inherit]</code>.</p>

    <p class="mb-4 f-s-normal"> This is a <strong>f-s-normal</strong> font-style </p>
    <p class="mb-4 f-s-italic">This is a <strong>f-s-italic</strong> font-style </p>
    <p class="mb-4 f-s-oblique">This is a <strong>f-s-oblique</strong> font-style </p>
    <p class="mb-4 f-s-initial">This is a <strong>f-s-initial</strong> font-style </p>
    <p class="mb-4 f-s-inherit">This is a <strong>f-s-inherit</strong> font-style </p>
     
</app-card>