<div class="container">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-12">
            <app-grid-options></app-grid-options>
        </div>
        <div class="col-span-12">
            <app-grid-for-columns></app-grid-for-columns>
        </div>
        <div class="col-span-5 xl:col-span-12">
            <app-flex-behaviors></app-flex-behaviors>
        </div>
        <div class="col-span-7 xl:col-span-12">
            <app-horizontal-gutters></app-horizontal-gutters>
        </div>
        <div class="col-span-12">
            <app-vertical-gutters></app-vertical-gutters>
        </div>
        <div class="col-span-12">
            <app-no-gutters></app-no-gutters>
        </div>
        <div class="col-span-12">
            <app-vertical-alignment></app-vertical-alignment>
        </div>
        <div class="col-span-12">
            <app-nesting></app-nesting>
        </div>
        <div class="col-span-12">
            <app-order></app-order>
        </div>
        <div class="col-span-12">
            <app-offset></app-offset>
        </div>
    </div>
</div>