<app-card [cardClass]="'live-auction-wrapper'" [padding]="false" [headerTitle]="'Live Auctions'" [cardBodyClass]="'pt-0'">

    <div class="slider-wrapper arrow-round">
        <owl-carousel-o [options]="options" class="swiper live-auction-slider">
            @for(auction of liveAuction; track auction) {
                <ng-template carouselSlide>
                    <div class="product-card">
                        <div class="product-image">
                            <img class="max-w-full h-auto" [src]="auction.banner" alt="nft">
                            <a class="author-img" href="javascript:void(0)">
                                <img class="max-w-full" [src]="auction.owner_profile" alt="author">
                            </a>
                        </div>
                        <div class="product-nft-content">
                            <h6 class="f-14">{{ auction.name }}</h6>
                            <div class="flex justify-between mb-4">
                            <p class="f-14 c-o-light mb-2">
                                High Bid
                                <span class="font-medium f-14 ps-1 text-black">{{ auction.high_bid }}</span>
                            </p>
                            <div class="flex">
                                <img class="me-1" src="assets/images/dashboard-6/nft.png" alt="nft icon">
                                <span class="font-semibold">{{ auction.total_currency }} ETH</span>
                            </div>
                            </div>
                            <div class="common-flex">
                            <button class="btn bg-light-primary font-primary" type="button"> 
                                <span class="common-align">
                                    <app-svg-icon [icon]="'stop-watch'"></app-svg-icon>
                                    <span class="f-light font-medium timer">
                                        <span>
                                            {{ auction.remaining_time }}
                                        </span>
                                    </span>
                                </span>
                            </button>
                            <a class="btn bg-light-primary font-primary font-medium" [routerLink]="['/job-search/companies']">Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            }
        </owl-carousel-o>
    </div>
</app-card>