<div class="container main-setting">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-12">
            <app-card [headerTitle]="'NOUVEAU TYPE DE DOCUMENT'" [header]="'pb-0'" [border]="true" [padding]="false">
                <div class="grid grid-cols-12 gap-4 tabs">
                    <div class="col-span-3 lg:col-span-12">
                        <div class="tab-links nav-primary" orientation="vertical">

                            @for(tab of settingTabs; track tab) {
                            <a class="tab-link" [class.active]="activeTab == tab.value" (click)="handleTab(tab.value)">
                              <app-svg-icon [icon]="tab.icon"></app-svg-icon>
                            {{ tab.title }}
                            </a>
                            }
                        </div>
                    </div>
                    <div class="col-span-9 lg:col-span-12">
                        <div class="tab-content">
                            <div class="tab-pan fade show active">

                                @if(activeTab == 'general'){
                                <app-creer></app-creer>
                                }
                                @else if(activeTab == 'activation'){
                                <app-liste></app-liste>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</div>
