<app-card [headerTitle]="'Star Rating'" [header]="'pb-0'" [border]="true" [padding]="false" [cardClass]="'height-equal'">
  <p class="f-m-light mt-1" header5>Use <code>bar-rating</code> to set a default rating. Add the <code>[readonly]="true"</code> property to prevent users from modifying the rating.</p>
  <div class="main-star-rating">
    <div class="common-flex star-box justify-center">
      <div class="rating">
        <bar-rating [rate]="rating" [readonly]="true" [max]="5">
          <ng-template ratingActive>
            <i class="fa-solid fa-star" style="color: #ffb829"></i>
          </ng-template>
          <ng-template ratingInactive>
            <i class="fa-solid fa-star" style="color: #d2d2d2"></i>
          </ng-template>
          <ng-template ratingFraction>
            <i class="fa-solid fa-star-half-stroke" style="color: #ffb829"></i>
          </ng-template>
        </bar-rating>
      </div>
    </div>
  </div>
</app-card>