<div class="error-wrapper">
    <div class="container">
        <app-svg-icon [icon]="'error-403'"></app-svg-icon>
        <div class="grid grid-cols-12">
            <div class="col-start-4 md:col-start-0 col-span-6 md:col-span-12">
                <h3>Forbidden Error</h3>
                <p class="sub-content pb-6">If you receive a 403 Forbidden error, either verify your access privileges  or get in touch with the server administrator to obtain the necessary authorization.</p>
            </div>
        </div>
        <div>
            <a class="btn btn-primary btn-lg text-white rounded-lg hover:text-white" href="javascript:void(0)" (click)="navigate()">BACK TO HOME PAGE</a>
        </div>
    </div>
</div>