<div class="bg-navbar tabs">
    <ul class="tab-links nav-steps flex nav-primary">
        <li class="tab-link" [class.active]="activeTab == 'consigne'" (click)="handleTab('consigne')">Consigne</li>
        <li class="tab-link" [class.active]="activeTab == 'priorite'" (click)="handleTab('priorite')">Priorité</li>
    </ul>
    <div class="container user-list-wrapper">
        <div class="grid grid-cols-12">
            <div class="col-span-12  mt-5 ">
                @if(activeTab == 'consigne') {
                <app-consigne></app-consigne>
                }@else if(activeTab == 'priorite') {
                <app-priorite></app-priorite>
                }
            </div>
        </div>
    </div>
</div>

