/* You can add global styles to this file, and also import other style files */

@use "../public/assets/scss/app.scss";

body {
  font-family: "Cocon-Regular" !important;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links li a span {
  text-transform: none !important;
  font-family: "Cocon-Regular" !important;
}

body.dark-sidebar .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links > li .sidebar-submenu li a {
  text-transform: none !important;
}