<div class="bg-navbar tabs">
    <ul class="tab-links nav-steps flex nav-primary">
        <li class="tab-link" [class.active]="activeTab == 'site'" (click)="handleTab('site')">Sites</li>
        <li class="tab-link" [class.active]="activeTab == 'rayon'" (click)="handleTab('rayon')">Rayons</li>
        <li class="tab-link" [class.active]="activeTab == 'boite'" (click)="handleTab('boite')">Boîtes</li>
    </ul>
    <div class="container user-list-wrapper">
        <div class="grid grid-cols-12">
            <div class="col-span-12  mt-5 ">
                @if(activeTab == 'site') {
                <app-site></app-site>
                }@else if(activeTab == 'rayon') {
                <app-rayon></app-rayon>
                }@else if(activeTab == 'boite') {
                <app-boite></app-boite>
                }
            </div>
        </div>
    </div>
</div>