<div class="container">
    <div class="grid grid-cols-12">
        <div class="col-span-12">
            <app-card>
                <div class="ngx-editor">
                    <div class="NgxEditor__Wrapper">
                        <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
                        <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</div>