<div class="container-fluid">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-12">
            <app-tooltip-form-validation></app-tooltip-form-validation>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-browser-default></app-browser-default>
        </div>
        <div class="col-span-6 xl:col-span-12">
            <app-validation-form></app-validation-form>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-form-validation-effect></app-form-validation-effect>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-form-password-validation></app-form-password-validation>
        </div>
    </div>
</div>