<div class="container">
    <div class="grid grid-cols-12 card-gap">
        <div class="col-span-6 md:col-span-12">
            <app-clipboard-on-text-input></app-clipboard-on-text-input>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-clipboard-on-textarea></app-clipboard-on-textarea>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-clipboard-on-paragraph></app-clipboard-on-paragraph>
        </div>
        <div class="col-span-6 md:col-span-12">
            <app-copy-portion-from-paragraph></app-copy-portion-from-paragraph>
        </div>
    </div>
</div>