<div class="mail-header-wrapper">
  <div class="mail-header">
    <div class="form-check form-check-inline">
      <input class="form-check-input checkbox-primary" id="emailCheckboxA" type="checkbox" value="option1">
      <ul class="mail-filters">
        @for(type of emailTypes; track type) {
          <li class="common-align mail-header-option" [class.active]="activeType == type.value" (click)="handleType(type.value)">
            <app-svg-icon [icon]="type.icon" [class]="'stroke-icon'"></app-svg-icon>
            <span>{{ type.title }}</span>
          </li>
        }
      </ul>
    </div>
  </div>
  <div class="mail-body">
    <div class="mail-search flex-items-center">
      <input class="form-control" type="search" placeholder="Rechercher une imputation…"
             [ngModel]="recherche" (ngModelChange)="handleRecherche($event)">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="light-square block-btn-1" title="Actualiser" (click)="rafraichir.emit()">
      <app-feather-icon [icon]="'refresh-cw'"></app-feather-icon>
    </div>
    <!-- Pagination du dossier consulté, à la manière d'une messagerie. -->
    @if(total > 0) {
      <div class="mh-pagination">
        <span class="mh-pagination-compte">{{ debut }}–{{ fin }} sur {{ total }}</span>
        <button type="button" class="mh-pagination-btn" title="Page précédente"
                [disabled]="debut <= 1" (click)="pagePrecedente.emit()">
          <app-feather-icon [icon]="'chevron-left'"></app-feather-icon>
        </button>
        <button type="button" class="mh-pagination-btn" title="Page suivante"
                [disabled]="fin >= total" (click)="pageSuivante.emit()">
          <app-feather-icon [icon]="'chevron-right'"></app-feather-icon>
        </button>
      </div>
    }
  </div>
</div>
